<%- include('./header.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         .adjust
        {
            min-height: 600px;
            padding: 10px;
            background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
        }
    </style>
</head>
<body>
    <div class="adjust">
    <h1>ABOUT</h1>
    <p><%-aboutcontent%></p>
</div>
    <%- include('./footer.ejs'); %>
</body>
</html>